<footer>
    <div class="container">
        <h1>Lucas Lemos</h1>
        <div class="icones-container">
                     
                     
            <a href="https://www.linkedin.com/in/lucas-lemos-b5879625b/" class="links">
                   <fa-icon [icon]="myLinkedin" class="icones" style="margin-left: 0;"></fa-icon>
            </a>
            <a href="https://github.com/leminhosdev" class="links">
                   <fa-icon [icon]="myGithub" class="icones" style="color: #f4d9fc;"></fa-icon>
            </a>
            <a href="" class="links">
                   <fa-icon [icon]="resume" class="icones" style="color: #F7DEFF;"></fa-icon>
            </a>
     
            <a href="https://www.youtube.com/channel/UCxbOuKgtNCbD3HssI_O6dSg" class="links">
                   <fa-icon [icon]="myYoutube" class="icones" style="color: #EADDEE;"></fa-icon>
            </a>
      
           </div>
    </div>
</footer>