<section class="timeline-section">

    <h1 style="text-align: center;" id="titulo">Work Experience</h1>
	<div class="timeline-items">
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date" id="memoru-date">03/2023 - moment</div>
			<div class="timeline-content">
                <h2 style="color: white;">Backend developer</h2>
                <div class="empresa-container">
                    <img src="../../assets/img/memoru.png" alt="memoru">
                    <h3>Memoru</h3>
                </div>
                
                <ul>
                    <li><i class="ponto">. </i>Development, corrections and improvements in the backend using C#, .NET, Java, Spring Boot</li>
                    <li><i class="ponto">. </i>Interactions with SQL Server databases</li>
                    <li><i class="ponto">. </i>Acting with responsibility and focus on consuming .NET APIS using Angular</li>
                    <li><i class="ponto">. </i>Creation/handling of images and containers with Docker</li>
                    <li><i class="ponto">. </i>Maintenance and integration of systems such as PrimeNG</li>
                    <li><i class="ponto">. </i>Creation of functional and dynamic screens</li>
                    <li><i class="ponto">. </i>Collaboration with multidisciplinary teams</li>
                  </ul>
			</div>
		</div>
        <!-- 
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">01/2024 - present</div>
			<div class="timeline-content">
				<h3>timeline item title</h3>
				
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                  </ul>
			</div>
           
		</div>
		
		
		 -->
		
		
	</div>
</section>