
    <section class="background">
       <div class="seguranca">

       
           <div class="apresentation-container">
              <div class="apresentation">
                    <h1>Backend Developer</h1>
                    <p>My name is Lucas Lemos, with approximately 3 year of experience in the market, I have already solved various programming problems and now I am embarking on the proposal to teach about this world in an easy way on YouTube to more than 1100 people</p>
                    
                    <div class="icones-container">
                     
                     
                     <a (click)="abrirLink('https://www.linkedin.com/in/lucas-lemos-b5879625b/')" class="links">
                            <fa-icon [icon]="myLinkedin" class="icones" style="margin-left: 0;"></fa-icon>
                     </a>
                     <a  (click)="abrirLink('https://github.com/leminhosdev')"
                     class="links">
                            <fa-icon [icon]="myGithub" class="icones" style="color: #f4d9fc;"></fa-icon>
                     </a>
                     <a (click)="abrirPDF()" class="links">
                            <fa-icon [icon]="resume" class="icones" style="color: #F7DEFF;"></fa-icon>
                     </a>
              
                     <a (click)="abrirLink('https://www.youtube.com/channel/UCxbOuKgtNCbD3HssI_O6dSg')"
                     class="links">
                            <fa-icon [icon]="myYoutube" class="icones" style="color: #EADDEE;"></fa-icon>
                     </a>
               
                    </div>
                    <div style="display: flex; justify-content:flex-start; align-items: center; margin-top: 20px;">
                     <p>Seville, Spain</p>
                     <img src="../../assets/img/Flag_of_Spain.svg.png" 
                          alt="Bandeira da Espanha" 
                          style="width: 40px; height: auto; margin-left: 5px;">
                     </div>
                     </div>
                     
              
              <div class="picture">
                     <img src="../../assets/img/me.png" alt="me" style="height: auto;">
              </div>
           </div>
       </div>

       
    </section>
   
       <app-experience></app-experience>
   
    <section class="waves">
      
       
      
      
      <div class="tech">
       <h1 id="techstack">TECH STACK</h1>
      </div>
     
          <div class="skill-container">
              
              <div class="item">
                     <img src="../../assets/img/java.png" alt="Java" style="width: 90px; height: auto;">
              </div>
              <div class="item">

                     <img src="../../assets/img/spring.png" alt="Spring" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/docker.png" alt="docker" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/postgres.png" alt="postgres" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/mysql.png" alt="mysql" style="width: 90px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/rabbit.png" alt="rabbitMQ" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/aws.png" alt="aws" style="width: 50px; height: auto;">
              </div> 
              <div class="item">
                     <img src="../../assets/img/javascript.png" alt="javascript" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/typescript.png" alt="typescript" style="width: 106px; height: auto;">
              </div>
              <div class="item">
                     <img src="../../assets/img/angular.png" alt="angular" style="width: 106px;height: auto;">
              </div>
              
          </div>
          
    </section>
    <section class="projects">
       

       
                     <h1 id="project-tittle" style="margin-top: 1em;">Projects</h1>
       <div class="container-project"  style="margin-top: 2em;">
      
                     

                     <img src="../../assets/img/blocki-bit-mockup.png" alt="blockbit" class="projetos-imagem">
                     <div class="project-texts">

                     <h1>Blockbit</h1>
                     <p>Blockbit platform, my agency that provides digital services such as creating websites, integrating payments for e-commerce, developing plugins with Java, and much more.</p>       
                     </div>
                     <h1 style="text-align: center;" id="tech-text">Technologies used</h1>
                     <div class="resize" style="width: 100%; max-width: 600px;">

                   
                     <div class="skill-container" style="margin: 0px 0px 0px;">
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/java.png" alt="java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/spring.png" alt="spring" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/mysql.png" alt="mysql" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/docker.png" alt="docker" style="width: 80px; height: auto;">
                            </div>
                     
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/angular.png" alt="angular" style="width: 80px; height: auto;;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/typescript.png" alt="typescript" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/aws.png" alt="aws" style="width: 40px; height: auto;">
                            </div>
                           
                           
                     </div>
                     

              </div>
                     
              <div class="buttons" style="display: flex; margin-top: 1.5em;">
                     <a class="acess" (click)="abrirLink('https://blockbit-b4662.web.app/')">

                            <div style="display: flex;  justify-content: center; ">Acess platform
                                   <fa-icon [icon]="arrow" class="icones" style="color: #cf38bb; font-size: 20px;"></fa-icon>
                            </div>
                     </a>
                     
              </div>

              
              </div>

              <div class="container-project"  style="margin-top: 8em;">
      
                     

                     <img src="../../assets/img/web3.png" alt="portalweb3" class="projetos-imagem">
                     <div class="project-texts">

                     <h1>Portalweb3</h1>
                     <p>Platform to view live data on NFTS, allowing the user to register their company to post services they need, or view services to be provided. Making it easier for companies to join the world of blockChain/Web3.</p>       
                     </div>
                     <h1 style="text-align: center;" id="tech-text">Technologies used</h1>
                     <div class="resize" style="width: 100%; max-width: 600px;">

                   
                     <div class="skill-container" style="margin: 0px 0px 0px;">
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/java.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/spring.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/mysql.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/docker.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/opensea.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/angular.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/typescript.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            
                           
                           
                     </div>
                     

              </div>
                     
              <div class="buttons" style="display: flex; margin-top: 1.5em;">
                     <a class="acess" (click)="abrirLink('https://portalweb3news.web.app/')">

                            <div style="display: flex;  justify-content: center; ">Acess platform
                                   <fa-icon [icon]="arrow" class="icones" style="color: #cf38bb; font-size: 20px;"></fa-icon>
                            </div>
                     </a>
                     
              </div>

              
              </div>


              <div class="container-project"  style="margin-top: 8em;">
      
                     

                     <img src="../../assets/img/Flexsales.png" alt="portalweb3" class="projetos-imagem">
                     <div class="project-texts">

                     <h1>Flexsales</h1>
                     <p>ERP system that enables the integration of Excel files with an online sales system, automating the registration of products, orders and your company's financial dashboard</p>       
                     </div>
                     <h1 style="text-align: center;" id="tech-text">Technologies used</h1>
                     <div class="resize" style="width: 100%; max-width: 600px;">

                   
                     <div class="skill-container" style="margin: 0px 0px 0px;">
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/java.png" alt="Java" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/spring.png" alt="spring" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/mysql.png" alt="mysql" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/docker.png" alt="docker" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/apachePOI.png" alt="apachePOI" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/angular.png" alt="angular" style="width: 80px; height: auto;">
                            </div>
                            <div class="item" style="width: 110px; height: 58px;" >
                                   <img src="../../assets/img/typescript.png" alt="typescript" style="width: 80px; height: auto;">
                            </div>
                            
                           
                           
                     </div>
                     

              </div>
                     
              <div class="buttons2" style="display: flex; margin-top: 1.5em;">
                     <a class="acess" id="acess" (click)="abrirLink('https://flexsales-178a5.web.app/')">

                            <div style="display: flex;  justify-content: center; align-items: center;">Acess platform
                                   <fa-icon [icon]="arrow" class="icones" style="color: #cf38bb; font-size: 20px;"></fa-icon>
                            </div>
                     </a>
                     <a class="acess"  id="yt" (click)="abrirLink('https://www.youtube.com/watch?v=f72w8wo_OYE')">

                            <div style="display: flex; justify-content: center; align-items: center;">Video demo
                                   <fa-icon [icon]="myYoutube" class="icones" style="color: #cf38bb; font-size: 20px;"></fa-icon>
                            </div>
                     </a>
                     <a class="acess"  id="git" (click)="abrirLink('https://github.com/leminhosdev/flexsales-backends')">

                            <div style="display: flex;  justify-content: center; align-items: center; ">Github repository
                                   <fa-icon [icon]="myGithub" class="icones" style="color: #cf38bb; font-size: 20px;"></fa-icon>
                            </div>
                     </a>
                     
              </div>

              
              </div>
              
        
   </section>
<app-footer></app-footer>

   



